
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Alef', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');
}

html {
    font-size: 16px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    height: min-content;
}

main {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 51%, rgba(240, 240, 240, 1) 96%, rgba(182, 182, 182, 1) 100%,
    rgba(240, 240, 240, 1) 67%,
    rgba(136, 135, 135, 1) 100%);
}

.header {
    background-color: #74C69D;
    text-shadow: 1px 1px 3px #2646537b;
    font-family: 'Alef', sans-serif;
}

.brand__logo:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.brand__title {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
}
.nav-link{
    color: #ffffff;
    text-align: center;
}

.navbar__list{
    color: #ffffff;
}
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}
.navbar__list li {
    font-size: 1.5rem;
}

.navbar__list li:hover {
    transform: scale(1.2);
    transition-duration: 300ms;
}

.navbar__list a:hover {
    color: #FFC727;
}

.navbar__list a:active {
    color: #264653;
}

nav a {
    color: #ffffff;
}

.cover {
    background-color: #74C69D;
}

.cover__legend {
    align-self: center;
}

.cover__legend__title {
    font-family: 'Alef', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.cover__legend__text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

.videoArticle__article{
    padding: 2rem;
    align-items: center;
}
.articles__article__img {
    max-height: 90vh;
}

.articles__article__legend{
    align-self: center;
}

.articles__article__legend--galeria{
    align-self: center;
    padding: 2rem;
}

.articles__article__title {
    font-family: 'Alef', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.articles__article__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}


section .cards {
    width: 90%;
}

.cards__intro {
    width: 90vw;
    margin: 5rem auto 2rem;
}

.cards__title {
    font-family: 'Alef', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.cards__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    display: block;
    text-align: center;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cards__element {
    min-width: min-content;
    max-width: 20%;
    border: 0.5px solid #264653;
    border-radius: 3%;
    box-shadow: 5px 5px 3px hsla(197, 37%, 24%, 0.55);
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 2.7rem;
}

.cards__element:hover {
    transform: scale(1.15);
    transition-duration: 700ms;
}

.cards__element__circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem;
}

.cards__element__name {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Alef', sans-serif;
    font-size: 1.2rem;
}

.cards__element__profession {
    font-family: 'Alef', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

.cards__element__image {
    border-radius: 7%;
    margin-top: 3%;
}
.cards__element__img__container{
    min-width: 200px;
}

.cards__element__text {
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.8rem;
}

.cards__element__image {
    padding: 5px;
    width: 90%;
    display: inline-block;
}

.articlesSection .cards__container {
    width: 90%;
    justify-content: center;
}

.cards__button {
    background-color: #264653;
    width: fit-content;
    margin: 1.2rem;
    padding: 4px 10px;
    border-radius: 3%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.326);
}

.cards__button a {
    font-family: 'Alef', sans-serif;
    font-size: 0.8rem;
    color: #ffffff;
}

.cards__button:hover {
    background-color: #74C69D;
}

footer {
    background-color: #264653;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #74C69D;
    transform: scale(1.2);
}

footer a:active {
    color: #FFC727;
}

footer ul li {
    margin: 1rem 0 1rem 0;

}

footer ul li:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.footer__links {
    font-family: 'Alef', sans-serif;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
}

.footer__social-media {
    min-width: 200px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.footer__social-media__icon{
    height: 1.5rem;
    margin: 1rem;

}
.footer__social-media__icon:hover {
    transform: scale(1.5);
    transition: 500ms;
}

.footer__map {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.footer__map__title {
    font-size: 1.2rem;
    font-family: 'Alef', sans-serif;
    color: #ffffff;
    padding: 0.3rem;
    text-align: center;
    font-weight: 600;
}

.footer__map__iframe {
    width: 180px;
    margin: auto;
}

.footer__business-card {
    align-self: center;
    text-align: center;
    margin: 0.8rem 0 0.5rem 0;
}

.footer__business-card__title {
    color: #ffffff;
    font-family: 'Alef', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.2rem;
}

.footer__business-card__text {
    color: #ffffff;
    font-family: 'Alef', sans-serif;
    font-size: 0.8rem;
    margin: 0;
}

.carousel{
    text-shadow: 1px 1px 3px #264653;
    max-height: 90vh;
}
.carousel-text{
    font-family: 'Work sans', sans-serif;
    font-size: 0.9rem;
}

.carousel-title{
    font-family: 'Alef', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-form {
    background-color: #264653c9;
}

.form-label{
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
}

.form-check-label{
    font-family: 'Work sans', sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
}

.form-check-input:checked{
    background-color: #74C69D
}

.input--inline {
    display: inline;
    margin: 5px;
}

.send__button {
    background-color: #74C69D;
    width: fit-content;
    margin: 1.2rem;
    font-weight: 600;
    font-family: 'Aleg', sans-serif;
    padding: 4px 10px;
    border-radius: 3%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.326);
}

.send__button a {
    color: #264653;
}

.send__button:hover {
    background-color: #FFC727
}